<!DOCTYPE html>
<html>
<head>
    <title>Gerador de Imagem</title>
</head>
<body>
    <h1>Gerador de Imagem</h1>
    <form action="/" method="post">
        <label for="sigla">Sigla:</label><br>
        <input type="text" id="sigla" name="sigla"><br>
        <label for="extenso">Nome por Extenso:</label><br>
        <input type="text" id="extenso" name="extenso"><br><br>
        <label for="cor">Cor da Sigla:</label><br>
        <select id="cor" name="cor">
            <option value="black">Preto</option>
            <option value="red">Vermelho</option>
        </select><br><br>
        <input type="submit" value="Gerar">
    </form>
</body>
</html>
